// app global css in SCSS form
h2 {
  color: #00b4ff;
  cursor: pointer;
  font-size: 32px;
  padding: 0 20px;
  font-weight: bold;
}

h2:after {
  content: '#';
  opacity: 0;
}

h2:hover:after {
  opacity: 1;
}

h3 {
  color: #00b4ff;
  cursor: pointer;
  font-size: 24px;
  padding: 0 20px;
}

h3:after {
  content: '#';
  opacity: 0;
}

h3:hover:after {
  opacity: 1;
}

h4 {
  color: #0bb3fbf9;
  cursor: pointer;
  font-size: 20px;
  padding: 0 20px;
}

h4:after {
  content: '#';
  opacity: 0;
}

h4:hover:after {
  opacity: 1;
}

article {

  max-width: 70%;

  p {
    color: #FFF;
    font-size: 16px;
    padding: 0 20px;
  }

  li {
    color: #FFF;
  }
}

pre {
  background-color: #000;
  padding: 20px;
}

.language-css .token.string, .style .token.string, .token.entity, .token.operator, .token.url {
  background: none !important;
}